.forgot-password-page {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #f5f7fb;
}

.forgot-password-card {

    width: 450px;

    padding: 40px;

    background: white;

    border-radius: 16px;

    box-shadow: 0 8px 30px rgba(
        0,
        0,
        0,
        0.08
    );
}

.forgot-password-input {

    width: 100%;

    padding: 12px;

    margin-top: 20px;

    border-radius: 8px;

    border: 1px solid #cbd5e1;
}

.forgot-password-button {

    width: 100%;

    margin-top: 20px;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background-color: #2563eb;

    color: white;

    cursor: pointer;
}

.forgot-password-error {

    color: red;

    margin-top: 10px;
}